# Music Folder
musics/
musics_test/

# CSV files used for the experiment
*.csv

# Django
## Environment variables
.env

## SQLite Database
*.sqlite3

## Others
*.log
*.pot
*.pyc
__pycache__/
local_settings.py

# Development Stuffs
.vscode
